<section class="feature">

    <div class="feature__elements">
        <div class="container">

            <div class="feature__title hidden">

                <p>&lt;Here is what you get&gt;</p>
            </div>

            <div class="feature__items">


                <div class="feature__items__adaptive">
                    <div class=" feature__item item--first">
                        <div class="item__text  text__first">
                            <p class="item__title">Creatred to Make The Web Better</p>
                            <p class="item__description description__first">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim.
                                Sed id metus id quam auctor molestie eget ut augue.</p>
                        </div>
                    </div>
                    <div class="feature__item item--second">
                        <div class="item__text">
                            <p class="item__title ">Incredibly Powerful Tool</p>
                            <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
                                Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                        </div>
                    </div>
                    <div class="feature__item item--third">
                        <div class="item__text">
                            <p class="item__title ">Experimental Stuff</p>
                            <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
                                Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                        </div>
                    </div>
                    <div class="feature__item item--fourth">
                        <div class="item__text">
                            <p class="item__title ">Creatred to Make The Web Better</p>
                            <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
                                Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                        </div>
                    </div>
                </div>


                <!--            <img src="@img/photoFeat.jpg" alt="Here is what you get">-->

            </div>
        </div>
        <div class="adaptive__image">
            <div class="feature__title hidden--bottom">

                <p>&lt;Here is what you get&gt;</p>
            </div>
            <div class="feature__photo">
                <div class="feature__photo--relative">
                </div>
            </div>
        </div>
    </div>
</section>