<header class="header">
    <div class="header__block">
    <div class="container">
        <nav class="navbar header__navbar">
            <a href="#" class="logo header-logo">
                <div class="logo__picture header-logo__picture"></div>
                <p class="logo__text header-logo__text">forkio</p>
            </a>
            <ul class="menu-list header__menu-list">
                <li class="menu-list__item"><a href="#overview" class="menu-list__link"><p class="menu-list__link-text">Overview</p></a></li>
                <li class="menu-list__item"><a href="#features" class="menu-list__link"><p class="menu-list__link-text">About Fork</p></a></li>
                <li class="menu-list__item"><a href="#buying" class="menu-list__link"><p class="menu-list__link-text">Buying Options</p></a></li>
                <li class="menu-list__item "><a href="#" class="menu-list__link menu-list__link--bottom-line"><p class="menu-list__link-text">Support</p></a></li>
            </ul>
            <button type="button" class="buy-btn header__buy-btn">Buy Now</button>
            <div class="menu-icon">
                    <div class="menu-icon__line menu-icon__line--short"></div>
                    <div class="menu-icon__line"></div>
                    <div class="menu-icon__line"></div>
            </div>
        </nav>
    </div>
    </div>
    <section class="hero-section">
        <div class="container">
        <h1 class="hero-section__title hero-section__title--margin">Fork App</h1>
        <h2 class="hero-section__text-info hero-section__text-info--margin">A Real Gamechanger In The World Of Web-Development</h2>
        <p class="hero-section__text-devices ">v. 2.8 For Mac and Windows</p>
        </div>
    </section>
</header>



