<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"/>
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"/>
  <link rel="icon" type="image/x-icon" href="./src/img/design/favicon.ico">
  <link rel="stylesheet" href="./css/reset.min.css" />
  <link rel="stylesheet" href="./css/style.min.css" />
  <link rel="shortcut icon" href="@img/icons8.png?v=2" type="image/png"> <!--favicon-->
  <script data-search-pseudo-elements src="https://kit.fontawesome.com/f737751420.js" crossorigin="anonymous"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <title>Forkio</title>

</head>