<section class="presentText" id="overview">
    <div class="container">

        <div class="presentText__elements">
        <div class="presentText__button">
<button class="button--download">Download For Free Now</button>
            <p class="button__description">Unlimited 30-Days Trial Period</p>
        </div>
        <div class="present__text">
            <p class="present__title">Revolutionary editor</p>
            <p class="present__description">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
        <div class="github_buttons">
            <a class="github-button" href="https://github.com/buttons/github-buttons/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch buttons/github-buttons on GitHub">Watch</a>
            <a class="github-button" href="https://github.com/buttons/github-buttons/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork buttons/github-buttons on GitHub">Fork</a>
            <a class="github-button" href="https://github.com/buttons/github-buttons" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star buttons/github-buttons on GitHub">Star</a>
        </div>
        </div>
    </div>
</section>