<section class="pricing" id="buying">
    <div class="container">
        <div class="pricing__title">
            <p class="price__title">Fork Subscription Pricing</p>
        </div>
<div class="price__items">
    <div class="price__item price--first">
        <div class="category students">
            <p>Students</p>
        </div>
        <div class="price--category">
            <p class="price--29"><span class="dollar">$</span>29</p>
            <p class="month">per month</p>
            <p class="license">Personal License</p>
            <div class="btn__purchase">
            <button class="btn__prices">
                <p>purchase</p>
            </button>
            </div>
        </div>
    </div>
    <div class="price__item price--second">
        <div class="category proffesional">
            <p>professional</p>
        </div>
        <div class="price--category">
            <p class="price--29"><span class="dollar">$</span>59</p>
            <p class="month">per month</p>
                <p class="license prof">Professional License</p>  <p class="license email">Email Support</p>

            <div class="btn__purchase">
                <button class="btn__prices">
                    <p>purchase</p>
                </button>
            </div>
        </div>
    </div>

    <div class="price__item price--third">
        <div class="category agency">
            <p>agency</p>
        </div>
        <div class="price--category agency--dark">
            <p class="price--29 price--agency" ><span class="dollar">$</span>99</p>
            <p class="month">per month</p>
            <p class="license members"> 1-12 Team Members</p>  <p class="license email">Phone Support</p>
            <div class="btn__purchase agency--purchase">
                <button class="btn__prices agency__btn">
                    <p>purchase</p>
                </button>
            </div>
        </div>
        </div>
    <div class="price__item price--fourth">
        <div class="category enterprise">
            <p>enterprise</p>
        </div>
        <div class="price--category">
            <p class="price--29"><span class="dollar">$</span>159</p>
            <p class="month">per month</p>
            <p class="license prof">Unlimited Team Members</p>  <p class="license email">24/ 7 Phone Support</p>

            <div class="btn__purchase">
                <button class="btn__prices">
                    <p>purchase</p>
                </button>
            </div>
        </div>
    </div>
</div>
</div>

</section>