<section class="section-testimonials">
    <div class="container">
        <p class="section-title testimonials__title">People Are Talking About Fork</p>
        <div class="testimonials__items-container">
            <div class="testimonials__item testimonials__item--smashing">
                <img src="@img/content/logoSmashing.png" class="testimonials__item-img" width="165px" height="43px"
                     alt="company-logo">
                <p class="testimonials__item-text testimonials__item-text--smashing">Sed vestibulum scelerisque urna, eu
                    finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar
                    venenatis. </p>
            </div>
            <div class="testimonials__item testimonials__item--codrops">
                <img src="@img/content/logoCodrops.png" class="testimonials__item-img" width="148px" height="50px"
                     alt="company-logo">
                <p class="testimonials__item-text testimonials__item-text--codrops">Donec euismod dolor ut ultricies
                    consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </div>
            <div class="testimonials__item testimonials__item--w">
                <img src="@img/content/logoW.png" class="testimonials__item-img" width="64px" height="64px"
                     alt="company-logo">
                <p class="testimonials__item-text testimonials__item-text--w">In efficitur in velit et tempus. Duis nec
                    odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </div>
            <div class="testimonials__item testimonials__item--pixel">
                <img src="@img/content/logoPixel.png" class="testimonials__item-img" width="225px" height="24px"
                     alt="company-logo">
                <p class="testimonials__item-text testimonials__item-text--pixel">Sed vestibulum scelerisque urna, eu
                    finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar
                    venenatis. </p>
            </div>
            <div class="testimonials__item testimonials__item--CB">
                <img src="@img/content/logoCB.png" class="testimonials__item-img" width="166px" height="34px"
                     alt="company-logo">
                <p class="testimonials__item-text testimonials__item-text--CB">Praesent ut eros tristique, malesuada
                    lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
            </div>

            <div class="testimonials__item testimonials__item--TNW">
                <img src="@img/content/logoTnw.png" class="testimonials__item-img testimonials__item-img--TNW" width="108px" height="34px"
                     alt="company-logo">
                <p class="testimonials__item-text testimonials__item-text--TNW">Fusce pharetra erat id odio blandit,<br> nec <br>
                    pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum. </p>
            </div>
        </div>
        <p class="testimonials__bottom-text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
            vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    </div>

</section>