@import "../variables/_variables";

/*=====================================*/

/*POSITIONING*/

@mixin column_flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row_flex_space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*=============================================*/

/*FONTS*/

@mixin font_normal_Main{
  font-family: $font-family__mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

}

@mixin font_bold_Main {
  font-family: $font-family__mainFont;
  font-style: normal;
  font-weight: 700;
}

@mixin font_normal_Additional {
  font-family: $font-family__additionalFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

@mixin font_bold_Additional {
  font-family: $font-family__additionalFont;
  font-weight: 700;
}


/*==============================================*/

/*ELEMENTS*/

@mixin buy_btn {
  width: 119px;
  height: 37px;
  background-color: $color--accentColor;
  border-radius: 40px;
  font-family: $font-family__mainFont;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-align: center;
  transition: $transition;
  border: 0;
  &:hover {
    background-color: white;
    color: $color--accentColor;
    cursor: pointer;
  }
}

@mixin logo {
  &__picture {
    width: 43px;
    height: 41px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/design/header_logo.png);
    transition: 0.3s all ease-in-out;
  }
  &:hover {
    .logo__text {
      color: white;
    }
    .logo__picture {
      background-image: url(../img/design/header_logo_hover.png);

    }
  }
}


@mixin logo-text {
  &__text {
    @include font_bold_Additional;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D81AC;
    transition: $transition;
  }
}


@mixin hero_title {
  @include font_bold_Main;
  font-size: 48px;
  line-height: 48px;
  color: white;

}


@mixin background_picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@mixin section_title {
  @include font_bold_Main;
  color:$color--white;
  text-align: center;
}

