/*=====================================*/
/*POSITIONING*/
/*=============================================*/
/*FONTS*/
/*==============================================*/
/*ELEMENTS*/
/*========================================================================*/
/*HEADER BLOCKS*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo__picture {
  width: 43px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/design/header_logo.png);
  transition: 0.3s all ease-in-out;
}
.logo:hover .logo__text {
  color: white;
}
.logo:hover .logo__picture {
  background-image: url(../img/design/header_logo_hover.png);
}

.header-logo__text {
  display: none;
}

.buy-btn {
  width: 119px;
  height: 37px;
  background-color: #8D81AC;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: white;
  text-align: center;
  transition: 0.2s all ease-in-out;
  border: 0;
}
.buy-btn:hover {
  background-color: white;
  color: #8D81AC;
  cursor: pointer;
}

.menu-icon {
  display: inline-block;
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  z-index: 0;
}
.menu-icon__line {
  background-color: white;
  width: 26px;
  margin-bottom: 6px;
  height: 3px;
  border-radius: 2px;
  transition: 0.2s all ease-in-out;
}
.menu-icon__line--short {
  width: 15px;
  position: relative;
  right: -11px;
  top: 0;
}

.menu-list {
  bottom: 100%;
  height: 0;
  overflow: hidden;
  background-color: #333333;
  transition: 0.2s all ease-in-out;
}
.menu-list--active {
  bottom: 0;
  height: 378px;
}
.menu-list__link-text {
  padding: 38px 0 31px 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 26px;
  line-height: 26px;
  color: white;
  transition: 0.2s all ease-in-out;
}
.menu-list__link-text:hover {
  color: #8D81AC;
}
.menu-list__link {
  position: relative;
  width: 293px;
  display: inline-block;
  height: 89px;
  box-shadow: 0 -2px 0 0 #3B3B3B, 0 3px 0 0 #3B3B3B;
  text-align: left;
}
.menu-list__link--bottom-line {
  box-shadow: 0 -2px 0 0 #3B3B3B, 0 4px 0 0 #3B3B3B;
}
.menu-list__link::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;
  border-left: 8px solid #8D81AC;
  z-index: 5;
  height: 0;
  transition: 0.2s all ease-in-out;
}
.menu-list__link:hover::after {
  height: 53px;
}

.hero-section__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: white;
}
.hero-section__text-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 18px;
  line-height: 24px;
  color: #8D81AC;
}
.hero-section__text-devices {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #848E97;
  text-transform: uppercase;
}

/*========================================================================*/
/*POSITIONING*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/design/header_background.png");
  min-width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__block {
  background-color: rgb(39, 38, 42);
  width: 100%;
}
.header__navbar {
  padding: 31px 5px 30px 6px;
}
.header__menu-list {
  position: absolute;
  top: 102px;
  right: 15px;
  z-index: 1;
}

.hero-section {
  padding-top: 49px;
  padding-bottom: 411px;
}
.hero-section__title {
  text-align: center;
}
.hero-section__title--margin {
  margin-bottom: 19px;
}
.hero-section__text-info {
  text-align: center;
}
.hero-section__text-info--margin {
  margin-bottom: 16px;
}
.hero-section__text-devices {
  text-align: center;
  position: relative;
}

/*==============================================================*/
/*CHANGE icon must be fixed!*/
.change .menu-icon__line:first-child {
  opacity: 0;
}

.change .menu-icon__line:nth-child(2) {
  transform: translate(0, 4px) rotate(-45deg);
  border-radius: 0;
  height: 2px;
  width: 35px;
}

.change .menu-icon__line:last-child {
  transform: translate(0, -4px) rotate(45deg);
  border-radius: 0;
  height: 2px;
  width: 35px;
}

/*==============================================================*/
/*============================================================================*/
/*MEDIA*/
/*============================================================================*/
@media screen and (min-width: 481px) {
  /*========================================================================*/
  /*HEADER BLOCKS*/
  .menu-icon {
    display: none;
  }
  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: unset;
  }
  .menu-list__link-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #8D81AC;
    text-align: center;
    padding: 0;
  }
  .menu-list__link-text:hover {
    color: white;
  }
  .menu-list__link {
    position: unset;
    display: inline-block;
    box-shadow: none;
    width: unset;
    height: 21px;
    padding: 0 10px 0 0;
  }
  .menu-list__link:hover::after {
    display: none;
  }
  .header-logo__text {
    display: block;
  }
  .logo__text {
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D81AC;
    transition: 0.2s all ease-in-out;
  }
  .header__buy-btn {
    width: 145px;
    height: 38px;
  }
  /*========================================================================*/
  /*HEADER POSITIONING*/
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo__picture {
    margin-right: 17px;
  }
  .hero-section__text-info {
    margin-bottom: 19px;
  }
  /*============================================================================*/
  /*========================================================================*/
}
@media screen and (min-width: 481px) and (min-width: 481px) and (max-width: 992px) {
  /*========================================================================*/
  /*HEADER BLOCKS*/
  .menu-list {
    background-color: rgb(39, 38, 42);
    width: 68%;
  }
  .menu-list__link {
    line-height: 18px;
  }
  .hero-section__title {
    font-size: 72px;
    line-height: 72px;
  }
  .hero-section__text-info {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-size: 24px;
    line-height: 24px;
  }
  /*========================================================================*/
  /*HEADER POSITIONING*/
  .header__navbar {
    padding: 22px 20px 56px 20px;
  }
  .header__menu-list {
    right: 124px;
    top: 90px;
    bottom: unset;
  }
  .hero-section {
    padding: 69px 0 468px 0; /*!!!!*/
  }
}
@media screen and (min-width: 481px) and (min-width: 993px) {
  /*========================================================================*/
  /*HEADER BLOCKS*/
  .header__block {
    background: #010005;
  }
  .header__navbar {
    padding: 30px 90px 30px 90px;
  }
  .header__btn {
    position: relative;
  }
  .menu-list {
    background-color: transparent;
    width: 44%;
  }
  .menu-list__link {
    line-height: 17px;
  }
  .hero-section__title {
    font-size: 82px;
    line-height: 82px;
  }
  .hero-section__text-info {
    font-size: 30px;
    line-height: 30px;
  }
  .hero-section__text-devices {
    font-size: 16px;
    line-height: 16px;
  }
  /*========================================================================*/
  /*HEADER POSITIONING*/
  .hero-section {
    padding: 83px 0 455px 0;
  }
  .header__menu-list {
    position: relative;
    right: -85px;
    top: -4px;
  }
}
/*=====================================*/
/*POSITIONING*/
/*=============================================*/
/*FONTS*/
/*==============================================*/
/*ELEMENTS*/
.presentText {
  display: flex;
}

.presentText__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentText__button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button--download {
  background: #8D81AC;
  border-radius: 40px;
  position: absolute;
  transform: translateY(-22px);
  width: 290px;
  height: 45px;
  border: 2px solid transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.2s all ease-in-out;
}
.button--download:hover {
  background: #FFFFFF;
  border: 2px solid #8D81AC;
  color: #8D81AC;
  cursor: pointer;
}

.button__description {
  padding-top: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #848E97;
}

.present__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-top: 27px;
  text-align: center;
  color: #323232;
  width: 276px;
}

.present__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;
}

.present__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 79px;
  padding-bottom: 36px;
}

.github_buttons {
  width: 251px;
  height: 80px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .button--download {
    width: 390px;
    height: 62px;
    transform: translateY(-31px);
    font-size: 21px;
    line-height: 23px;
  }
  .button__description {
    padding-top: 47px;
  }
  .present__title {
    font-size: 42px;
  }
  .present__description {
    padding-top: 35px;
    width: 100%;
    font-size: 21px;
  }
  .github_buttons {
    width: 365px;
  }
}
@media screen and (min-width: 993px) {
  .button--download {
    width: 390px;
    height: 62px;
    font-size: 21px;
    line-height: 22px;
  }
  .button__description {
    padding-top: 81px;
  }
  .present__title {
    font-size: 52px;
  }
  .present__description {
    width: 861px;
    font-size: 21px;
  }
  .github_buttons {
    width: 365px;
    max-width: 36%;
  }
}
/*=====================================*/
/*POSITIONING*/
/*=============================================*/
/*FONTS*/
/*==============================================*/
/*ELEMENTS*/
.feature {
  padding-top: 120px;
}

.feature__elements {
  padding-bottom: 60px;
}

.feature__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 32px;
  font-weight: 700;
  color: #8D81AC;
  text-align: center;
}

.feature__item {
  text-align: center;
  padding-top: 36px;
}
.feature__item::before {
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
}

.item__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 16px;
  color: #323232;
  width: 96%;
}

.item__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 14px;
  color: #848E97;
  width: 96%;
}

.item--first::before {
  content: url("@img/iconFeat1.svg");
}

.item--second::before {
  content: url("@img/iconFeat2.svg");
}

.item--third::before {
  content: url("@img/iconFeat3.svg");
}

.item--fourth::before {
  content: url("@img/iconFeat4.svg");
}

.feature__photo--relative {
  background: url("@img/photoFeat.jpg");
  margin-top: 60px;
  width: 100%;
  height: 381px;
  background-repeat: no-repeat;
  background-size: 486px;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .feature__item {
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    text-align: left;
  }
  .item__text {
    flex-wrap: wrap;
    width: 84%;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
  }
  .feature__item::before {
    width: 111px;
  }
  .item__description {
    padding-top: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .feature__photo--relative {
    width: 93%;
    height: 519px;
    background-size: 700px;
  }
  .feature__photo {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 993px) {
  .feature {
    background-color: #F4F4F4;
    padding-top: 63px;
    margin-top: 7px;
  }
  .feature__item {
    display: flex;
    justify-content: space-evenly;
    width: 104%;
    padding-top: 61px;
    text-align: left;
  }
  .feature__item::before {
    width: 111px;
  }
  .feature__items {
    width: 118%;
    display: flex;
  }
  .feature__adaptive {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .feature__title {
    font-size: 48px;
    width: 155%;
    height: 46px;
  }
  .item--first {
    width: 114%;
  }
  .item__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 114%;
  }
  .feature__content {
    display: flex;
    align-items: center;
  }
  .item__description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 95%;
  }
  .description__first {
    width: 96%;
  }
  .feature__photo--relative {
    background: url("@img/editor.svg");
    width: 688px;
    height: 519px;
    background-size: 700px;
    margin-top: 0;
  }
}
/*=====================================*/
/*POSITIONING*/
/*=============================================*/
/*FONTS*/
/*==============================================*/
/*ELEMENTS*/
/*========================================================================*/
.section-testimonials {
  background-image: url(@img/design/testimonials_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
}
.section-testimonials::before {
  content: "";
  position: absolute;
  transform: translateY(-57px);
  color: #4E3C4A;
  width: 100%;
  border-bottom: 20px solid #4E3C4A;
}

.testimonials__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
}
.testimonials__items-container {
  display: flex;
  flex-direction: column;
}
.testimonials__item-text {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.testimonials__bottom-text {
  position: relative;
  font-family: "Lato";
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #A291A5;
}

/*
.price__title {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    transform: translate(9px,-8px);
    width: 245px;
    border-bottom: 2px solid $color--testimonialsBottomDecor;
  }
}*/
/*========================================================================*/
/*TESTIMONIALS POSITIONING*/
.section-testimonials {
  padding: 57px 0 32px 0;
}

.testimonials__title {
  margin-bottom: 41px;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__item:not(:last-child) {
  margin-bottom: 39px;
}
.testimonials__item:last-child {
  margin-bottom: 30px;
  margin-top: 12px;
}
.testimonials__item-text {
  text-align: center;
}
.testimonials__item-text--smashing {
  margin-top: 26px;
  padding: 0 26px 0 24px;
}
.testimonials__item-text--codrops {
  margin-top: 20px;
  padding: 0 42px 0 25px;
}
.testimonials__item-text--w {
  margin-top: 17px;
  padding: 0 31px 0 30px;
}
.testimonials__item-text--pixel {
  margin-top: 27px;
  padding: 0 25px 0 25px;
}
.testimonials__item-text--CB {
  margin-top: 32px;
  padding: 0 8px 0 9px;
}
.testimonials__item-text--TNW {
  margin-top: 16px;
  padding: 0 28px 0 26px;
}
.testimonials__bottom-text {
  padding: 0 23px;
}

/*========================================================================*/
/*MEDIA*/
@media screen and (min-width: 481px) {
  .section-testimonials::before {
    display: none;
  }
  br {
    display: none;
  }
  .testimonials {
    max-width: 315px;
  }
  /*TESTIMONIALS POSITIONING*/
  .testimonials__items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .testimonials__item:last-child {
    margin-top: 0;
  }
  .testimonials__item-text {
    padding: 0;
  }
}
/*========================================================================*/
@media screen and (min-width: 481px) and (max-width: 992px) {
  /*========================================================================*/
  /*TESTIMONIALS BLOCKS*/
  .testimonials__title {
    font-size: 42px;
    line-height: 44px;
  }
  .testimonials__item {
    width: 50%;
    max-width: 315px;
  }
  /*========================================================================*/
  /*TESTIMONIALS POSITIONING*/
  /*========================================================================*/
  .section-testimonials {
    padding: 84px 0 32px 0;
  }
  .testimonials__title {
    margin-bottom: 85px;
  }
  .testimonials__item:not(:last-child) {
    margin-bottom: 48px;
  }
  .testimonials__item:last-child {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .testimonials__item--pixel {
    margin-top: 33px;
  }
}
/*========================================================================*/
@media screen and (min-width: 993px) {
  /*========================================================================*/
  .testimonials__title {
    font-size: 48px;
    line-height: 50px;
  }
  .testimonials__item {
    width: 30%;
    max-width: 326px;
  }
  /*========================================================================*/
  .section-testimonials {
    padding: 108px 0 18px 0;
  }
  .testimonials__items-container {
    justify-content: space-evenly;
    row-gap: 108px;
  }
  .testimonials__title {
    margin-bottom: 73px;
  }
  .testimonials__item:not(:last-child) {
    margin-bottom: 0;
  }
  .testimonials__item:last-child {
    margin-bottom: 0;
  }
  .testimonials__item-text--TNW {
    margin-top: 32px;
  }
  .testimonials__bottom-text {
    padding: 0 161px;
    margin-top: 114px;
  }
}
/*=====================================*/
/*POSITIONING*/
/*=============================================*/
/*FONTS*/
/*==============================================*/
/*ELEMENTS*/
.pricing {
  background: url("@img/layerPrice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-height: 847px;
  min-width: 320px;
}

.pricing__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}

.price__title {
  position: relative;
}
.price__title::before {
  content: "";
  position: absolute;
  transform: translate(9px, -8px);
  width: 245px;
  border-bottom: 3px solid #645766;
}

.price__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 10px;
}

.price__item {
  padding-top: 18px;
  width: 85%;
}

.category {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 24px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.06);
  mix-blend-mode: normal;
  height: 97px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price--third {
  width: 99%;
  height: 560px;
}

.price--fourth {
  padding-top: 35px;
}

.price--category {
  background: rgba(255, 255, 255, 0.11);
  mix-blend-mode: normal;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.price--category p {
  color: #FFFFFF;
}

.agency--dark {
  background: rgba(70, 48, 72, 0.84);
  height: 449px;
}

.dollar {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 60px;
}

.price--29 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

.agency {
  background: rgb(70, 48, 72);
  height: 111px;
}

.price--agency {
  font-size: 82px;
}

.month {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-top: 8px;
  text-transform: uppercase;
}
.month::after {
  top: 38px;
  width: 60px;
  content: "";
  position: relative;
  outline: 3px solid #8D81AC;
  display: block;
  margin: auto;
  background: transparent;
}

.license {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 16px;
  padding-top: 73px;
  text-align: center;
}

.email {
  padding-top: 10px;
}

.btn__purchase {
  padding-top: 37px;
}

.btn__prices {
  background: rgba(255, 255, 255, 0.16);
  width: 163px;
  height: 45px;
  border-radius: 30px;
  border-color: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.agency__btn {
  background: rgba(255, 255, 255, 0.15);
  width: 190px;
  height: 52px;
}

.agency--purchase {
  padding-top: 83px;
}

@media screen and (min-width: 393px) {
  .price__title::before {
    transform: translate(66px, -8px);
  }
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .category {
    font-size: 3.5vw;
  }
  .pricing {
    min-height: 1319px;
  }
  .pricing__title {
    padding-top: 95px;
  }
  .price__title::before {
    width: 555px;
    transform: translate(-104px, -96px);
  }
  .price__items {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .price__item {
    padding-right: 25px;
    width: 38%;
    max-width: 319px;
  }
  .price--third {
    padding-right: 0;
    margin-right: 25px;
    width: 40%;
    max-width: 330px;
  }
  .price--fourth {
    margin-right: 40px;
  }
  .btn__prices {
    width: 21vw;
  }
  .license {
    font-size: 2vw;
  }
}
@media screen and (min-width: 993px) {
  .price__title::before {
    width: 780px;
    transform: translate(-75px, -113px);
  }
  .price__items {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 61px;
  }
  .price__item {
    width: 22%;
  }
  .price--third {
    width: 25%;
  }
  .category {
    width: 100%;
  }
  .pricing__title {
    padding-top: 112px;
    font-size: 48px;
  }
  .pricing {
    background-position: initial;
  }
}
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*in reset.css*/
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 0.2s all ease-in-out;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .container {
    min-width: 481px;
    max-width: 992px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    min-width: 993px;
  }
}

/*# sourceMappingURL=style.css.map */
