@import 'templates/_header';
@import 'templates/_presentText';
@import 'templates/_features';
@import 'templates/_testimonials';
@import "templates/_pricing";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*in reset.css*/
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 0.2s all ease-in-out
}

.container{
 width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}


@media screen and (min-width: 320px) and (max-width: 480px){
  .container{
    min-width: 320px;
    max-width: 480px;
  }

}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .container{
    min-width: 481px;
    max-width: 992px;
  }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    //min-width: 993px;
   max-width: 1200px;
  }

}


