$color--accentColor: #8D81AC;
$color--navbarBackground: #333333;
$color--presentSectionTitle: #635C73;
$color__lightTextColor:#848E97;
$color--darkTextColor:#323232;
$color--white:#FFFFFF;
$font-family__mainFont: 'Montserrat';
$font-family__additionalFont: 'Lato';
$transition: 0.2s all ease-in-out;
$category--colorDefaultHead:rgba(255,255,255,0.06);
$category--colorChosenHead: rgba(70,48,72,1.2);
$category--colorDefaultBody:rgba(255,255,255,0.11);
$category--colorChosenBody:rgba(70,48,72, 0.84);
$category--colorButtonDefault:rgba(255,255,255,0.16);
$category--colorButtonChosen:rgba(255,255,255,0.15);
$color--testimonialsTopDecor: #4E3C4A;
$color--testimonialsBottomText: #A291A5;
$color--testimonialsBottomDecor: #645766;



