@import "../mixin/_mixins";
@import "../variables/_variables";
.feature{
  padding-top: 120px;
}
.feature__elements{
  padding-bottom: 60px;

}
.feature__title{
@include font_normal_Main;
  font-size: 32px;
  font-weight: 700;
  color: $color--accentColor;
  text-align: center;
}
.feature__item{

  text-align: center;
  padding-top: 36px;
  &::before{
    display: flex;
    justify-content: center;
    padding-bottom: 27px;
  }
}
.item__title{
  @include font_normal_Main;
  font-size: 16px;

  color: $color--darkTextColor;
  width: 96%;

}
.item__description{
  @include font_normal_Additional;
  line-height: 21px;
  padding-top: 14px;
  color:  $color__lightTextColor;
  width: 96%;
}
.item--first{
  &::before{
    content: url('@img/iconFeat1.svg');
  }
}
.item--second{
  &::before{
    content: url('@img/iconFeat2.svg');

  }
}
.item--third{
  &::before{
    content: url('@img/iconFeat3.svg');

  }
}
.item--fourth{
  &::before{
    content: url('@img/iconFeat4.svg');

  }
}
.feature__photo--relative{
  background: url("@img/photoFeat.jpg");
  margin-top: 60px;
  width: 100%;
  height: 381px;
  min-width: 320px;
  background-repeat: no-repeat;
  background-size: 486px;
}
.hidden--bottom{
  display: none;
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .hidden--bottom{
    display: none;
  }
  .feature__item{
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;

    text-align: left;

  }
  .item__text{
   flex-wrap: wrap;
    width: 84%;
    align-content: flex-end;
  display: flex;
  flex-direction: column;

}
  .feature__item{
    &::before{
      width: 111px;
    }
  }
  .item__description{
    padding-top: 0;
    @include font_normal_Main;
  }
 .feature__photo--relative{
   width: 93%;
   height: 519px;
    background-size: 700px;
 }
  .feature__photo{
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 993px){
  .hidden{
    display: none;
  }
  .hidden--bottom{
    display: block;
  }
  .feature{
    background-color: #F4F4F4;
    padding-top: 63px;
    margin-top: 7px;
  }
  .feature__item{
    display: flex;
    justify-content: center;
    padding-top: 61px;
    &::before{
      width: 111px;
    }

  }
  .feature__elements{
    display: flex;

    flex-direction: row;
    align-items: flex-end;
  }

  .feature__items{
    display: flex;

  }
  .feature__title{
    font-size: 48px;
    margin-bottom: 18px;
  }

  .item__text{
    display: flex;
    flex-direction: column;
    width: 61%;
    text-align: left;
    padding-left: 23px;
  }


  .feature__content{
  display: flex;
    align-items: center;
  }

  .item__description{
    @include font_normal_Main;
    width: 100%;
  }
  .feature__photo--relative{
    background-repeat: no-repeat;
    background: url("@img/editor.svg");
    height: 519px;
    background-size: cover;
    margin-top: 0;
  }
  .adaptive__image{
    flex-basis: 1380px;
    height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
