@import "../mixin/_mixins";
@import "../variables/_variables";
.presentText{
  display: flex;
}
.presentText__elements{
  @include column_flex-center;
}
.presentText__button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.button--download{
  background: $color--accentColor;
  border-radius: 40px;
  position: absolute;
  transform: translateY(-22px);
  width: 290px;
  height: 45px;
  border: 2px solid transparent;
  font-family: $font-family__mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: $color--white;
  transition: $transition;
  &:hover{
    background: #FFFFFF;
    border: 2px solid #8D81AC;
    color: #8D81AC;
    cursor:pointer;
  }
}
.button__description{
  padding-top: 32px;
 @include font_normal_Main;
  text-align: center;
  color: #848E97;
}
.present__description{
  @include font_normal_Additional;
  padding-top: 27px;
  text-align: center;
  color: $color--darkTextColor;
  width: 276px;
}
.present__title{
  font-family: $font-family__mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color:$color--presentSectionTitle;

}
.present__text{
  @include column_flex-center;
  padding-top: 79px;
  padding-bottom: 36px;
}
.github_buttons {
  width: 251px;
  height: 80px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .button--download{
    width: 390px;
    height: 62px;
    transform: translateY(-31px);
    font-size: 21px;
    line-height: 23px;
  }
  .button__description{
    padding-top: 47px;
  }

  .present__title{
    font-size: 42px;
  }
  .present__description{
    padding-top: 35px;
    width: 100%;
    font-size: 21px;
  }
  .github_buttons{
    width: 365px;
  }
}
@media screen and (min-width: 993px){
  .button--download{
    width: 390px;
    height: 62px;
    font-size: 21px;
    line-height: 22px;
  }
  .button__description{
    padding-top: 81px;
  }
  .present__title{
    font-size: 52px;
  }
  .present__description{
    width: 861px;
    font-size: 21px;
  }
  .github_buttons {
    width: 365px;
    max-width: 36%;
  }
}