@import "../mixin/_mixins";
@import "../variables/_variables";

/*========================================================================*/


.section-testimonials {
  background-image: url(@img/design/testimonials_background.png);
  @include background_picture;
  min-width: 320px;

  &::before {
    content: '';
    position: absolute;
    transform: translateY(-57px);
    color: $color--testimonialsTopDecor;
    width: 100%;
    border-bottom: 20px solid $color--testimonialsTopDecor;
  }


}

.testimonials {
  &__title {
    @include section_title;
    font-size: 36px;
    line-height: 48px;
  }

  &__items-container {
    display: flex;
    flex-direction: column;
  }

  &__item--TNW {

  }

  &__item-text {
    @include font_bold_Additional;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__bottom-text {
    position: relative;
    font-family: $font-family__additionalFont;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: $color--testimonialsBottomText;
  }


}


/*
.price__title {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    transform: translate(9px,-8px);
    width: 245px;
    border-bottom: 2px solid $color--testimonialsBottomDecor;
  }
}*/


/*========================================================================*/

/*TESTIMONIALS POSITIONING*/
.section-testimonials {
  padding: 57px 0 32px 0;
}

.testimonials {
  &__title {
    margin-bottom: 41px;
  }

  &__item {
    @include column_flex-center;

    &:not(:last-child) {
      margin-bottom: 39px;
    }

    &:last-child {
      margin-bottom: 30px;
      margin-top: 12px;
    }
  }

  &__item-text {
    text-align: center;

    &--smashing {
      margin-top: 26px;
      padding: 0 26px 0 24px;
    }

    &--codrops {
      margin-top: 20px;
      padding: 0 42px 0 25px;
    }

    &--w {
      margin-top: 17px;
      padding: 0 31px 0 30px;
    }

    &--pixel {
      margin-top: 27px;
      padding: 0 25px 0 25px;
    }

    &--CB {
      margin-top: 32px;
      padding: 0 8px 0 9px;

    }

    &--TNW {
      margin-top: 16px;
      padding: 0 28px 0 26px;
    }
  }

  &__bottom-text {
    padding: 0 23px;
  }

}

/*========================================================================*/
/*MEDIA*/
@media screen and (min-width: 481px) {
  .section-testimonials {
    &::before {
      display: none;
    }
  }

  br {
    display: none;
  }

  .testimonials {
    max-width: 315px;
  }

  /*TESTIMONIALS POSITIONING*/
  .testimonials {
    &__items-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      &:last-child {
        margin-top: 0;

      }
    }

    &__item-text {
      padding: 0;
    }
  }
}

/*========================================================================*/
@media screen and (min-width: 481px) and (max-width: 992px) {

  /*========================================================================*/
  /*TESTIMONIALS BLOCKS*/

  .testimonials {
    &__title {
      font-size: 42px;
      line-height: 44px;
    }

    &__item {
      width: 50%;
      max-width: 315px;
    }

  }

  /*========================================================================*/
  /*TESTIMONIALS POSITIONING*/

  /*========================================================================*/
  .section-testimonials {
    padding: 84px 0 32px 0;
  }
  .testimonials {

    &__title {
      margin-bottom: 85px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 48px;
      }

      &:last-child {
        margin-top: 0;
        margin-bottom: 30px;
      }

      &--pixel {
        margin-top: 33px;
      }
    }
  }
}


/*========================================================================*/
@media screen and (min-width: 993px) {
  /*========================================================================*/
  .testimonials {
    &__title {
      font-size: 48px;
      line-height: 50px;
    }

    &__item {
      width: 30%;
      max-width: 326px;
    }
  }

  /*========================================================================*/

  .section-testimonials {
    padding: 108px 0 18px 0;
  }

  .testimonials {
    &__items-container {
      justify-content: space-evenly;
      row-gap: 108px;
    }

    &__title {
      margin-bottom: 73px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom:0;
      }
    }
    &__item-text--TNW {
        margin-top: 32px;
    }
    &__bottom-text {
      padding: 0 161px;
      margin-top: 114px;
    }
  }

}

